# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cocos2d
/proj.linux
/proj.wp8-xaml
/proj.win32/Debug.win32/*.pdb
/proj.ios_mac/ios
/proj.win32/Debug.win32
/proj.win32/*.rc
/proj.ios_mac/mac/*.pch
/proj.ios_mac/mac
/proj.ios_mac/Swordsman.xcodeproj
/proj.win32/*.sdf
/proj.android/obj/local/armeabi/objs-debug/box2d_static/Collision/Shapes/*.d
/proj.android/obj/local/armeabi/objs-debug/box2d_static/Collision/*.d
*.d
/proj.android/bin
/proj.android/assets
/bin/debug/android/*.apk
/proj.win32/*.opensdf
